<html>
  <head>
    {% include "header.html" %}
  </head>
    <body>
    <div>
        {% if posts %}
        <table>
            {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td><td> INSERT COOL CCSS</td>
            </tr>
            
            {% endfor %}
        </table>
        {% else %}
            Det finns inget ännu. Ladda in formuläret för skapa nytt inlägg.
        {% endif %}

        {% if postForm %}
            <form action="/forum/{{category}}" method="post">
                {% csrf_token %}
                {{ postForm }}
                <input type="submit" value="Submit" />
            </form>
        {% endif %}
    </div>
    </body>
    <footer>
        {% include "footer.html" %}
    </footer>
</html>